{% extends 'layout.html' %}




{% block content %}


<div class="container">
    <form method="POST" id="myform">
        <div class="form-group">
        <label for="word">Enter Word English</label>
        <input type="text" class="form-control" id="word" placeholder="Enter Word here" name="word">
        </div>
        <div class="form-group">
        <label for="meaning">Enter word Bangla</label>
        <input type="text" class="form-control" id="meaning" placeholder="Enter Word Here" name="meaning">
        </div>
        <button type="submit" id="btn" style="display: none;" class="btn btn-primary mb-2" disabled>Submit</button> <p id="cnter"> You need to enter word and meaning <span id="num">5</span> times to commit chanage </p>
        <textarea id="note" name="note" class="form-control" style="display: none;"></textarea>
    </form>
    <button onclick="chnageText()" id='pbtn' class="btn btn-primary">Commit</button>
</div>
<script>
    
</script>
    

{% endblock content %}

