
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <style>
        body{
            margin: 0;
        }
        
        #navbar{
            overflow: hidden;
            background-color: #3d3d3d;
            width: 100%;
            

        }
        #navbar a{
            color: white;
            text-decoration: none;
            float: left;
            padding: 15px;
            display: block;
            font-size: 20px;
        }
        #navbar a:hover{
            background-color: rgb(66, 66, 66);
        }

        .content{
            padding: 16px;
            font-size: 20px;
        }
        .sticky{
            position: fixed;
             top: 0;
            width: 100%;
        }

        .sticky+.content{
            padding:60px;
        }
        #header{
            padding: 10px;
            text-align:left;
        }
        
    </style>

</head>
<body>
    <div id="header">
        <h1>Hello</h1>
    </div>
    <div id="navbar">
        <a href="#">Home</a>
        <a href="#">Contact</a>
        <a href="#">About</a>
    </div>
    <div class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam maiores culpa. Et repellendus quibusdam dolorum eius ea quasi voluptas cumque ducimus officiis optio odit corrupti, omnis ipsam vel fuga.

    </div>
</body>

    <script>

    window.onscroll = function(){Nav()};
    var navbar = document.getElementById("navbar");
    
    var sticky = navbar.offsetTop;

    function Nav(){
        if(sticky <= window.pageYOffset){
            navbar.classList.add('sticky')
        }else{
            navbar.classList.remove('sticky')
        }
    }
    </script>
</html>